@import "../../styles/breakpoint";

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3rem;
  }

  .input {
    background-color: #e5e5e7;
    width: 300px;
    border: none;
    border-radius: 16px;
    padding-left: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
